.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    flex-direction: column;
    gap: 40px;
    letter-spacing: -0.5px;
}

h1, h4{
    color: #d7d7d7;
}

h1{
    font-size: 4rem;
    font-weight: bolder;
}

h4{
    font-size: 1.4rem;
}

.buttons-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.button-container{
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2rem;
    transition: 0.25s;

}

.button-container:nth-of-type(1){
    background-color: #ededed;
    color: #000;
}

.button-container:nth-of-type(1):hover{
    background-color: #aeacac;
}

.button-container:nth-of-type(2){
    background-color: #000;
    color: #ededed;
}

.button-container:nth-of-type(2):hover{
    background-color: #282727;
}

@media (max-width: 1024px) {
    .container{
        gap: 25px;
        padding: 5%;
    }
    
    h1{
        font-size: 3rem;
    }
    
    h4{
        font-size: 1.2rem;
    }
}